<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Liter Board</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">

    <style>
        .material-symbols-outlined {
            font-variation-settings:
                    'FILL' 0,
                    'wght' 400,
                    'GRAD' 0,
                    'opsz' 48
        }
        .material-symbols-outlined.search_icon {
            font-variation-settings:
                    'FILL' 0,
                    'wght' 400,
                    'GRAD' 0,
                    'opsz' 20
        }
    </style>
</head>
<body>
<div class="site_wrapper">
    <header class="header">
        <div class="wrapper">
            <div class="header_wrapper">
                <div class="header_logo">
                    Liter Board
                </div>
                <button class="post_button">
                    <i class="material-symbols-outlined plus">
                        add
                    </i>
                    Add new post
                </button>
            </div>
        </div>
    </header>
    <main class="main">
        <section class="post">
            {% for post in posts %}
            <div class="post_content">
                <div class="post_user_name">
                    <i class="material-symbols-outlined avatar">
                        Account_Circle
                    </i>
                    {{ user.username }}
                </div>
                <div class="post_text_content">
                    {{ post.text }}
                </div>
                <div class="post_visual_content">
                    {% for cocktail in post.cocktails %}
                    <div class="alco_photo_grade">

                        <div class="photo_cocktail">
                            <img src="{{ cocktail.image }}" alt="">
                        </div>
                        <div class="cocktail_grade">
                            {{ cocktail_rating.objects.get(post=post.id, cocktail=cocktail.id)}}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="post_likes">
                    <i class="material-symbols-outlined like">
                        Wine_Bar
                    </i>
                    {% post.clink %}
                </div>
            </div>
            {% endfor %}
        </section>
    </main>
    <div class="acc_ui">
        <div class="user_name">
            {% user.username %}
        </div>
        <div class="user_followings_header">
            Following
        </div>
        <div class="user_followings_list">
            {% for following in followings %}
                <div class="followings_users">
                {% following.username %}
            </div>
            {% endfor %}
            <a href="/" class="show_more">
                Show more...
            </a>
        </div>

    </div>
</div>
</body>
</html>
